* {
	padding: 0;
	margin: 0;
	font-family: 'Oswald', sans-serif;
}
a {
	text-decoration: none;
}
body {
	background: url(https://i.pinimg.com/originals/e2/6f/ba/e26fba8d9f2102d2dd8699c80b8ddc78.jpg) fixed;
	width: 100vw;
	overflow-x: hidden;
}
header {
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 100%;
}
.main {
	background: linear-gradient(to bottom,#1b1d2e,#0f101c);
	display: flex;
	justify-content: center;
	padding: 20px 30px;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 50px;
	width: 100vw;
}
.main li {
	display: inline;
	font-size: 20px;
	padding: 0 10px;
}
.arrow a {
	color: white;
}
.arrow a:hover {
	transition: 0.3s;
	color: #700402;
}
.social {
	padding-left: 30px;
}
.main img {
	height: 30px;
	width: 30px;
}
.intro {
	margin: 0 50px;
	display: flex;
	justify-content: center;
	padding: 20px;
}
.ab {
	background: #1b1d2e;
	font-size: 20px;
	padding: 10px;
}
.ab1 {
	width: 60%;
	color: white;
	opacity: 0.8;
}
.intro ul {
	margin-left: 30px;
	color: white;
}
.intro p {
	color: white;
}
strong {
	color: #700402;
}
.go button {
	border-radius: 25px;
	padding: 15px 20px;
	background: #1b1d2e;
	font-size: 18px;
	color: white;
	border-color: black;
	border-style: none;
}
.go {
	display: flex;
	align-items: center;
	max-width: 100%;
}
.go button:hover {
	background: #0f101c;
	color: #700402;
	transition: 0.3;
}
.about {
	display: flex;
	flex-direction: column;
	width: 100vw;
}
.about p {
	font-size: 20px;
	color: white;
	width: 40%;
}
h2 {
	color: #700402;
	font-size: 40px;
	margin-bottom: 50px;
}
.t1 {
	margin-bottom: 50px;
	padding: 5px;
} 
.t1 p {
	float: left;
	padding-left: 60px;
}
.t2 p {
	float: right;
	padding-right: 60px;
}
.t2 {
	margin-bottom: 50px;
	padding: 5px;
}
.t1 img {
	float: right;
	height: 300px;
	padding-right: 60px;
}
.t2 img {
	height: 300px;
	padding-left: 60px;
}
.t3 td {
	padding: 20px;
	font-size: 16px;
	color: white;
	border: 2px solid black;
	margin: 0;
}
.t3 table {
	background: #1b1d2e;
	border: 5px solid black;
	border-style: solid
}
.t3 {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.link {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}
h3 {
	color: #700402;
	font-size: 20px;
	margin-bottom: 20px;
}
.f1 input {
	margin-left: 10px;
}
.f3 input {
	margin-left: 10px;
}
.f1 {
	margin-bottom: 30px;
}
.f2 {
	margin-bottom: 30px;
}
.f3 {
	margin-bottom: 30px;
}
.f4 {
	margin-bottom: 30px;
}
.link {
	margin: 200px 0;
} 

















.picture img {
	width: 300px;
	margin-right: 500px;
}
.dz a {
	color: white;
}
.dz a:hover {
	transition: 0.3s;
	color: #700402;
}
.dz a {
	list-style-type: none
}
content {
	display: flex;
	justify-content: space-between;
}
.sitebar {
	background: linear-gradient(to bottom,#1b1d2e,#0f101c);
}
.bar {
	width: 100px;
	height: 250px;
	margin-right: 200px;
}
.bar li {
	padding: 10px;
	font-size: 18px;
}